@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.w-434 {
    width: 434px;
}

.w-1000 {
    width: 1000px;
}
